include Makefile firstboot.spec README.txt
recursive-include init firstboot
recursive-include po *.po *.pot Makefile
recursive-include progs firstboot
recursive-include modules *.py
recursive-include themes default
